body{
	background-image: url('./Images/Originals/space-background.jpg');
}

a.btn{
	position: relative;
	display: block;
	font-size: 50px;
	color: white;
	margin: 40px 0px;
	/*left: 590px;*/
	left: 40%;
	font-weight: strong;
	text-decoration: none;
}

a.btn2{
	position: relative;
	display: block;
	font-size: 50px;
	color: white;
	margin: 40px 0px;
	/*left: 520px;*/
	left: 35%;
	font-weight: strong;
	text-decoration: none;
}

a:hover{
	text-decoration: overline underline;
}

a.btn:active{
	font-size: 60px;
	left: 570px;
}

a.btn2:active{
	font-size: 60px;
	left: 500px;
}

.logo{
	position: relative;
	/*left: 400px;*/
	left: 30%;
	margin: 40px 0px;
}